<html>
  <head>
    <title>Malorie Furniture</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="home">
      <div class="hero">
        <div class="hero-text">
          <h1>Your furniture is old.</h1>
          <h3>Ours is older.</h3>
          <p><a href="/list" class="btn btn-primary" role="button">Checkout our products</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
