<div id="list">
  <% @pieces.each do |piece| %>
  <div class="row">
    <% @pieces.each do |piece| %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag piece.img_file %>
        <div class="caption">
          <h3><%= piece.item %></h3>
          <p><%= number_to_currency(piece.price, precision: 0) %></p>
          <p><a href="/pieces/#{piece.pid}" class="btn btn-primary" role="button">More Info</a></p>
          <%= link_to 'More Info', "/pieces/#{piece.pid}" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <% end %>
</div>
