<!DOCTYPE html>
<html>
<head>
  <title>FurnitureIndex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="page-header">
    <h1>Malorie Furniture
      <small>
        <a href="/"><div class="home-button"><span class="glyphicon glyphicon-home"></span></div></a>
        <a href="/list"><div class="back-button"><span class="glyphicon glyphicon-arrow-left"></span></div></a>
      </small>
    </h1>
  </div>

  <%= yield %>

</body>
</html>
